*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 80px;
    background-color: #648cff;
    & .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .nav-list {
            display: flex;
            list-style: none;
            & .nav-link {
                margin: 10%;
            }
            a {
                text-decoration: none;
                font-size: 18px;
                line-height: 21px;
                font-weight: 400;
                color: #ffffff; 
            }
        }
        & .sm-list {
            display: flex;
            list-style: none;
            display: flex;
            margin-left: 50px;
            & a{
                text-decoration: none;
                margin: 20px;
            }

        }
    }
    & .logo {
        color: #fff;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
}

.first-section {
    height: 910px;
    position: relative;
    //background-color: #648cff;
    background-image: url(./images/bg_1575.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    & .first-section-container{
        padding-top: 100px;
        display: flex;
        & .first-section__left-section {
            padding-top: 80px;
            padding-right: 100px;
            & .left-section__title{
                font-size: 60px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
            }

            & .left-section__desc {
                padding-top: 40px;
                font-size: 18px;
                line-height: 30px;
                font-weight: 400;
                color: #ffffff;
            }
            & .left-section__buttons{
                padding-top: 55px;
                & button {
                    margin-right: 12px;
                }
            }
        }
        & .first-section__right-section {
            padding: 0 160px 0 110px;
            position: relative;
            & .bubble{
                border-radius: 50%;
                width: 90px;
                height: 90px;
                //background-color: #fc6a42;
                font-size: 18px;
                line-height: 166px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: -0.05em;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
            }
            & .bbl-sm {
                width: 55px;
                height: 55px;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #648cff;
            }

            .bubble.primary {
                top:270px;
                right: 35px;
            }

            .bubble.danger {
                top:300px;
                left: -20px;
            }

            .bbl-sm.bg-white {
                top:70px;
                right: 75px;
            }
            .bbl-sm.bg-yellow {
                top:570px;
                right: 65px;                
            }
        }
    }
    & .clicker {
        border-radius: 50%;
        width: 49px;
        height: 49px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-right: solid 1px red;
            border-bottom: solid 1px red;
            transform: rotate(45deg);
        }
    }
}

.btn {
    width: 158px;
    height: 52px;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.danger{
    background-color: #fc6a42;
}

.primary {
    background-color: #4466c9;
}

.bg-yellow{
    background-color: #fcec64;
}

.bg-white {
    background-color: #ffffff;
}

.features{
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-title {
    & .title{
        margin-top: 125px;
        text-align: center;
        font-size: 36px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #648cff;
    }
    & .subtitle {
        margin-top: 25px;
        text-align: center;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        color: #999999;
    }
}

.features-items {
    margin-top: 115px;
    display: flex;
    gap: 40px;
}

.feature-item {
    display: flex;
    & .item-img{
        margin-right: 20px;
    }
}

.item-text__title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #353854;
}

.item-text__desc {
    margin-top: 15px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #aeaeae;
}


.placeholder{
    margin-top: 200px;
}