*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 80px;
  background-color: #648cff;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .header-container .nav-list .nav-link {
  margin: 10%;
}

.header .header-container .nav-list a {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.header .header-container .sm-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  margin-left: 50px;
}

.header .header-container .sm-list a {
  text-decoration: none;
  margin: 20px;
}

.header .logo {
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.first-section {
  height: 910px;
  position: relative;
  background-image: url(./images/bg_1575.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.first-section .first-section-container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-section .first-section-container .first-section__left-section {
  padding-top: 80px;
  padding-right: 100px;
}

.first-section .first-section-container .first-section__left-section .left-section__title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.first-section .first-section-container .first-section__left-section .left-section__desc {
  padding-top: 40px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}

.first-section .first-section-container .first-section__left-section .left-section__buttons {
  padding-top: 55px;
}

.first-section .first-section-container .first-section__left-section .left-section__buttons button {
  margin-right: 12px;
}

.first-section .first-section-container .first-section__right-section {
  padding: 0 160px 0 110px;
  position: relative;
}

.first-section .first-section-container .first-section__right-section .bubble {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  font-size: 18px;
  line-height: 166px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.first-section .first-section-container .first-section__right-section .bbl-sm {
  width: 55px;
  height: 55px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #648cff;
}

.first-section .first-section-container .first-section__right-section .bubble.primary {
  top: 270px;
  right: 35px;
}

.first-section .first-section-container .first-section__right-section .bubble.danger {
  top: 300px;
  left: -20px;
}

.first-section .first-section-container .first-section__right-section .bbl-sm.bg-white {
  top: 70px;
  right: 75px;
}

.first-section .first-section-container .first-section__right-section .bbl-sm.bg-yellow {
  top: 570px;
  right: 65px;
}

.first-section .clicker {
  border-radius: 50%;
  width: 49px;
  height: 49px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.first-section .clicker::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-right: solid 1px red;
  border-bottom: solid 1px red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn {
  width: 158px;
  height: 52px;
  outline: none;
  border: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.danger {
  background-color: #fc6a42;
}

.primary {
  background-color: #4466c9;
}

.bg-yellow {
  background-color: #fcec64;
}

.bg-white {
  background-color: #ffffff;
}

.features {
  margin-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-title .title {
  margin-top: 125px;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #648cff;
}

.features-title .subtitle {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #999999;
}

.features-items {
  margin-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-item .item-img {
  margin-right: 20px;
}

.item-text__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #353854;
}

.item-text__desc {
  margin-top: 15px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #aeaeae;
}

.placeholder {
  margin-top: 200px;
}
/*# sourceMappingURL=styles.css.map */