*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 80px;
    background-color: #648cff;
    & .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .nav-list {
            display: flex;
            list-style: none;
            & .nav-link {
                margin: 10%;
            }
            a {
                text-decoration: none;
                font-size: 18px;
                line-height: 21px;
                font-weight: 400;
                color: #ffffff; 
            }
        }
        & .sm-list {
            display: flex;
            list-style: none;
            display: flex;
            margin-left: 50px;
            & a{
                text-decoration: none;
                margin: 20px;
            }

        }
    }
    & .logo {
        color: #fff;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
}

.first-section {
    height: 910px;
    //background-color: #648cff;
    background-image: url(./images/bg_1575.png);
    & .first-section-container{
        padding-top: 100px;
        display: flex;
        & .first-section__rigth-section {
            padding-top: 80px;
            padding-right: 100px;
            & .rigth-section__title{
                font-size: 60px;
                line-height: 1.2;
                font-weight: 700;
                color: #ffffff;
            }

            & .rigth-section__desc {
                padding-top: 40px;
                font-size: 18px;
                line-height: 30px;
                font-weight: 400;
                color: #ffffff;
            }
            & .rigth-section__buttons{
                padding-top: 55px;
                & button {
                    margin-right: 12px;
                }
            }
        }
        & .first-section__left-section {
            padding: 0 160px 0 110px;

        }
    }
}

.btn {
    width: 158px;
    height: 52px;
    outline: none;
    border: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.danger{
    background-color: #fc6a42;
}

.primary {
    background-color: #4466c9;
}